@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
*{
        margin: 0;
        font-family: "Quicksand", serif;
        font-optical-sizing: auto;
        /* font-weight: weight; */
        font-style: normal;
}

.logo__container{
    margin-top: 25px;
    display: grid;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    grid-template-columns: 1fr 1fr;
  grid-template-rows: 50 50;
}

.naming__logo{
    font-size: 48px;
    letter-spacing: 9px;
    margin-bottom: 15px;
    font-weight: 300;
    font-family: "Comfortaa", serif;
    font-optical-sizing: auto;
}

.social__button>div>a{
    display: block;
    width: 3rem;
    height: 3rem;
    background-color: darkgrey;
    border-radius: 50%;
}

.text-white{
    color: white;
}

.text-white:hover{
    background-color: #c5c5c5;
}


.rounded{
    border-radius: 1rem !important;
}

.madeIN{
    display: flex;
}

.madeIN::before{
    content: "MADE IN SAINT P ";
    /* height: 30px; */
    /* width: 100px; */
    /* border: 1px solid black; */
    filter: blur(1px);
    letter-spacing: 40px;
    font-size: 20px;
    /* display:block; */
    margin-right:-30px;
    text-align:right;
    font-weight: 300;
}
.madeIN::after{
    content: ".";
    filter: blur(1px);
    font-size: 20px;
}
