@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oi&family=Seymour+One&display=swap');
@main-font: Montserrat, sans-serif;
@content-font: Roboto, sans-serif;
@h3-font: 'Kaushan Script', cursive;
@main-color: black;
@white-color: white;
@icon-color: #95e1d3;
// @padding-l-r: 
//
.cover{
	height: 100%;
	width: 100%;

	padding: 15px 25px 25px 25px;
	position: absolute;
}

.cover_img{
	background-image: url("/img/cover_ai2.jpg");
	display: block;
	width: 100%;
	height: 100%;
background-size: contain;
background-size:cover;
 background-position: 90% 50%;
// background-size: contain;
background-repeat: no-repeat;
	// background-color: #2c3e50;
	border-radius: 50px;
	background-attachment: fixed;
	filter: brightness(50%);
	z-index: 1;
}

.border{
	border: 1px solid black;
}

.main{
	padding: 0 15px;
}

.about{
	height: 100%;
}
///


body, html{
	height: 100%;
	font-family: "Comfortaa", serif;
}

* {
	margin: 0;
	padding: 0;
	font-family: "Comfortaa", serif;
	font-optical-sizing: auto;
	/* font-weight: weight; */
	font-style: normal;
}

header{
	height: 100vh;
	min-height: 768px;
}

.header__container{
	// min-height: 100vh;
	display: flex;
  flex-direction: column; /* Слои, подобные торту */
      height: 100%;
}

.logo__container {
	margin-top: 25px;
	display: grid;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	grid-template-columns: 5% 90% 5%;
	grid-template-rows: 50% 50%;
}

.description1{
	flex-direction: column;
	justify-content: center;
	position: absolute;
}

.ai-center{
	align-items: center;
}

.naming__logo {
	font-size: 48px;
	letter-spacing: 9px;
	margin-bottom: 15px;
	font-weight: 300;
	font-family: "Comfortaa", serif;
	font-optical-sizing: auto;
	grid-area: 1/2;
	display: flex;
	justify-content: center;
	align-items: center;
	// opacity: 0;
}


.social__button>div>a {
	display: block;
	width: 3rem;
	height: 3rem;
	color: #496a70 !important;
	// border: 2px solid #496a70;
	// background-color: #2f4858;
	border-radius: 50%;
}

.fa-heart
{
	color: red;
}

.fa-heart::before{
	font-size: 20px;
}
.text-white {
	color: @white-color;
}

.banner-inner-wrapper img{
	// box-shadow: inset 0px 0px 10px 10px black;
	// box-shadow: blue 0px 0px 0px 2px inset, rgb(255, 255, 255) 10px -10px 0px -3px, rgb(31, 193, 27) 10px -10px, rgb(255, 255, 255) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgb(255, 255, 255) 30px -30px 0px -3px, rgb(255, 156, 85) 30px -30px, rgb(255, 255, 255) 40px -40px 0px -3px, rgb(255, 85, 85) 40px -40px;
	// border: 2px solid blue;
}

.fa {
	font-size: 25px !important;
}

// .fa:hover{
// 	background-color: #496a70;
// 	color: white;
// }

.social__button {
	display: grid;
}

#vk {
	display: flex;
	grid-area: 1/1;
}

#tg {
	display: flex;
	justify-content: end;
	grid-area: 1/3;
}

.main {
	display: block;
	// height: 100%;
	width: 100%;
	//background: -webkit-linear-gradient(90deg, #f5f1ee,#f5f1ee,#cfcfcf);
	//background: linear-gradient(90deg, #f5f1ee,#f5f1ee,#cfcfcf);/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */                                                                                  
}

section {
	display: block;
}

a {
	text-decoration: none;
	background-color: transparent;
}

a:hover {
	color: #0f7864;
	text-decoration: underline;
}

img {
	border-style: none;
}

img {
	vertical-align: middle;
}

.img-fluid {
	width: 100%;
	// height: 100% !important;
	background-size: cover;
}

@media (max-width:1100px) {
	#portfolio span {
		display: none;
	}
}

.flex__container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-grow: 1;
	position: relative;
	// min-height: inherit;
}
.highlight {
	// background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=ffff43);
	background: url(//s2.svgbox.net/pen-brushes.svg?ic=brush-8&color=496a70);
	color: white;
	margin: -1px -6px;
	padding:  10px  10px;
}

.footer__container__two > div > div:first-child{
	font-family: "Comfortaa", serif;
	text-transform: none;
	// letter-spacing: 5px;
	// font-size: .8em;
	font-size: 2.5vw;
	margin-bottom: 10px;
}

@media (max-width:450px)
{
	.footer__container__two > div > div:first-child{
		
		font-size: 4vw;
	}
	.footer__container__two > div > div > svg{
		height: 30px;
		width: 30px;
	}
}


.footer__container__two > .d-flex{
	flex-direction: column;
}

.footer__container__two{
	margin: 20px 0 40px 0;
}



.social__link{
	justify-content: space-around;
	
}

.social__link a{
	font-size: 1vw;
}
@media (max-width:845px)
{
	.social__link a{
		font-size: 4vw;
	}
}

.row {
	display: -ms-flexbox;
	display: flex;
	-ms-flex-wrap: nowrap;
	flex-wrap: nowrap;
	flex-direction: row;
	// margin-right: -15px;
	// margin-left: -15px;
	--bs-gutter-x: 0 !important;
}

.razrab_photo{
	height: 100px;
	width: 100px;
}

.razrab_photo img{
	max-width: 100%; height: auto; display: block;
}

.col-lg-4,
.col-md-6 {
	position: relative;
	width: 100%;
	// padding-right: 15px;
	// padding-left: 15px;
}

@media (min-width:768px) {
	.col-md-6 {
		-ms-flex: 0 0 50%;
		flex: 0 0 50%;
		max-width: 50%;
	}
}

@media (min-width:992px) {
	.col-lg-4 {
		-ms-flex: 0 0 33.33333%;
		flex: 0 0 33.33333%;
		max-width: 33.33333%;
	}
}


.position-absolute {
	position: absolute !important;
}

.w-100 {
	width: 100% !important;
}

.h-100 {
	height: 100% !important;
}

.mb-5 {
	margin-bottom: 3rem !important;
}

.my-auto {
	margin-top: auto !important;
}

.mx-auto {
	margin-right: auto !important;
}

.my-auto {
	margin-bottom: auto !important;
}

.mx-auto {
	margin-left: auto !important;
}

.text-center {
	text-align: center !important;
}

.text-uppercase {
	text-transform: uppercase !important;
}

.text-white {
	color: #fff !important;
}

@media print {

	*,
	:after,
	:before {
		text-shadow: none !important;
		box-shadow: none !important;
	}

	a:not(.btn) {
		text-decoration: underline;
	}

	img {
		page-break-inside: avoid;
	}
}


a {
	color: #2c3e50;
}

.portfolio {
	height: fit-content;
	// padding-top: calc(6rem - 40px);
	// padding-bottom: 6rem;
	
}

.container_portfolio {
	display: flex;
	grid-column: 2;
	flex-direction: row;
	justify-content: center;
}

.portfolio .portfolio-item {
	position: relative;
	//max-width: 25rem;
	// margin-bottom: 15px;
}

.portfolio .portfolio-item .portfolio-item-caption {
	transition: all .5s ease;
	opacity: 0;
	background-color: rgba(179, 179, 179, 0.26);
}

.portfolio .portfolio-item .portfolio-item-caption:hover {
	opacity: 1;
}

.portfolio .portfolio-item .portfolio-item-caption .portfolio-item-caption-content {
	font-size: 1.5rem;
}

@media (min-width:576px) {
	.portfolio .portfolio-item {
		// margin-bottom: 30px;
	}

	.description span{
		font-size: 1rem;
	}
}

.text-secondary {
	color: #2c3e50 !important;
}

.box-shadow {
	-webkit-box-shadow: 4px 5px 18px 0px #595656;
	box-shadow: 4px 5px 18px 0px #595656;
}

.br>div>a>div,
.br>div>a>img {
	//color: green;
	//border-radius: 1rem;
}

/*! CSS Used from: https://vargich.github.io/yulka/assets/fonts/font-awesome.min.css */
.fa {
	display: inline-block;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.fa-3x {
	font-size: 3em;
}

.fa-search-plus:before {
	content: "\f00e";
}

.rounded {
	border-radius: 1rem !important;
}

.madeIN {
	display: flex;
	grid-area: 2/2;
	justify-content: center;
	align-items: center;
	flex-direction: row;
	color: #496a70;
}

.madeIN::before {
	content: "MADE IN SAINT P ";
	/* height: 30px; */
	/* width: 100px; */
	/* border: 1px solid black; */
	filter: blur(1px);
	letter-spacing: 40px;
	font-size: 1rem;
	/* display:block; */
	margin-right: -30px;
	text-align: right;
	font-weight: 300;

}

.madeIN::after {
	content: ".";
	filter: blur(1px);
	font-size: 20px;
}

.footer__container {
	display: flex;


	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 40px 0 20px 0;
}



@media only screen and (max-width:786px) {
	.madeIN::before {
		content: "MADE IN SAINT P ";
		/* height: 30px; */
		/* width: 100px; */
		/* border: 1px solid black; */
		filter: blur(1px);
		letter-spacing: 20px;
		font-size: 0.9rem;
		/* display:block; */
		margin-right: -10px;
		font-weight: 300;
	}

	// .madeIN::after{opacity: 0;}
}

// @media only screen and (max-width:680px) {
// 	.madeIN::before{
// 		content: "MADE IN SAINT P ";
// 		/* height: 30px; */
// 		/* width: 100px; */
// 		/* border: 1px solid black; */
// 		filter: blur(1px);
// 		letter-spacing: 20px;
// 		font-size: 0.9rem;
// 		/* display:block; */
// 		// margin-right:-30px;
// 		text-align:right;
// 		font-weight: 300;
// 	}
// }
@media (max-width:460px) {
	.madeIN::before {
		content: "MADE IN SAINT P ";

		filter: blur(1px);
		letter-spacing: 15px;
		font-size: 0.8rem;

		font-weight: 300;
	}
	.description__container span{
		font-size: 1.5rem !important;
	}

	// .madeIN::after{opacity: 0;}
}
@media (max-width:358px) {
	.madeIN::before {
		
		// font-size: 0.6rem;
		letter-spacing: 10px;

	}
	.madeIN::after{
		 font-size: 1rem;
	}

	// .madeIN::after{opacity: 0;}
}

.whatwedoing .d-grid{
	grid-template-columns: 45% 55%;
	margin-bottom: 50px;
	}


.footer-block-about{
	margin: 50px 0;
	width: 100vw;
}

.footer-block-about__container{
	grid-template-columns: 40% 60%;
	
}


.jc-center{
	justify-content: center;
}
.about-block{
	flex-direction: column;
	align-items: center;
	height: 600px;
	width: 80%;
	// border: 1px solid black;
	// background-color: #496a70;
	color: rgb(0, 0, 0);
	font-size: 2rem;
	border-radius: 10px;
	background: white;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
	h2{
		font-size: 1rem;
	}
}

.img-block{
	width: 30%;
	height: 30%;
	// border: 1px solid black;
	img{
		width: 100%;
		height: 100%;
		border-radius: 50%;
		
	}	
	padding-bottom: 20px;
}

.contact-block{
	height: 600px;
	width: 80%;
	border-radius: 10px;
	background-color: #F8F7F5;
	box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
	color: black;
	flex-direction: column;
	justify-content: space-around;
	padding: 0 50px;
	text-transform: lowercase;
}



a { 
    text-decoration: none !important; 
	color: black !important;
} 

.made-in-lovers{
	justify-content: center;
	align-items: center;
	font-size: 20px;
	flex-direction: column;
}

@media (max-width: 950px)
{
	.d-grid{
		grid-template-rows: auto auto;
		grid-template-columns: 100%;
	}
	.description{
		margin-top: 10px;
		grid-row:2/2;
		justify-content: center !important;
		align-items: start;
	}
	#section-1{
		grid-row:1/1;
		grid-column: auto !important;
	}
	// header{
	// 	height: fit-content;
	// }
}
.description{
	justify-content:flex-end;
	align-items: center;
	span{
		font-weight: bold;
		font-size: 1.3rem;
		letter-spacing: 2px;
		text-transform: uppercase;
		font-family: "Comfortaa", serif;
		color: #496a70;
	}
	// span:last-child{
	// 	margin-top: 5px;
	// 	border: 2px solid #496a70;
	// 	background-color: #496a70;
	// }
	// span:last-child::before{
	// 	content: "ручной работы";
		
	// 	line-height: 0px;
	// 	color: #fff;
	// }
	
}


.op-0{
	opacity: 0;
}
.description__container{
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: white;
	z-index: 999;
	font-size: 2rem;
	// position: absolute;
}

#section-1 {
	grid-column: 2;
	height: 35em;
	color: @main-color;
	background-color: @white-color;

	.content-slider {
		position: relative;
		width: 100%;
		height: 100%;

		input {
			display: none;
		}

		.slider {
			position: relative;
			width: inherit;
			height: inherit;
			overflow: hidden;
			
			.banner {
				position: absolute;
				top: 0;
				left: 0;
				opacity: 0;
				z-index: 0;
				width: inherit;
				height: inherit;
				text-align: center;
				background-repeat: no-repeat;
				background-position: 50% 50%;
				transition: all .5s ease;

				.banner-inner-wrapper {
					height: 100%;
					padding-top: 6em;
					// background-image: linear-gradient(rgba(243,129,129,.9), rgba(252,227,138,.9));
					box-sizing: border-box;

					img {
						width: auto;
						height: 100%;
						border-radius: 10px;
					}
				}
			}

			// #top-banner-1 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-1.png') no-repeat center center; background-size: cover;}
			// #top-banner-2 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-2.png') no-repeat center center; background-size: cover;}
			// #top-banner-3 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-3.png') no-repeat center center; background-size: cover;}
			// #top-banner-4 {background: url('https://checkboxes-demo.webdevs.co.ua/images/mogo/banner-4.png') no-repeat center center; background-size: cover;}
		}

		nav {
			// position: absolute;
			// bottom: 0.5em;
			position: relative;
			top: 1em;
			width: 100%;
			z-index: 10;
			text-align: center;
			opacity: 0;
			.controls {
				display: flex;
				flex-direction: row;
				justify-content: center;
				// width: 70%;
				margin: 0 auto;
				font-family: @main-font;
				color: @main-color;

				label {
					position: relative;
					display: inline-block;
					width: 20%;
					// height: 3.1em;
					overflow: hidden;
					margin: 0 1em;
					padding-top: 1em;
					text-align: left;
					text-transform: uppercase;
					font-family: @main-font;
					font-size: 1em;
					color: #f6eac5;
					font-weight: 400;
					cursor: pointer;
					transition: all .3s;

					.progressbar {
						position: absolute;
						top: 0;
						left: 0;
						height: 3px;
						width: 100%;
						background: whitesmoke;
						z-index: 100;

						.progressbar-fill {
							position: inherit;
							width: inherit;
							height: inherit;
							margin-left: -100%;
							background: #2f4858;
						}
					}

					span {
						font-size: 1.4em;
						font-weight: 700;
					}

					// &:hover {color: #e88382;}
				}
			}
		}

		#banner1:checked~.slider #top-banner-1,
		#banner2:checked~.slider #top-banner-2,
		#banner3:checked~.slider #top-banner-3,
		#banner4:checked~.slider #top-banner-4 {
			opacity: 1;
			z-index: 1;
		}

		#banner1:checked~nav label:nth-of-type(1),
		#banner2:checked~nav label:nth-of-type(2),
		#banner3:checked~nav label:nth-of-type(3),
		#banner4:checked~nav label:nth-of-type(4) {
			cursor: default;
			color: @main-color;
			transition: all .5s;
		}

		#banner1:checked~nav label:nth-of-type(1) .progressbar,
		#banner2:checked~nav label:nth-of-type(2) .progressbar,
		#banner3:checked~nav label:nth-of-type(3) .progressbar,
		#banner4:checked~nav label:nth-of-type(4) .progressbar {
			background: whitesmoke;
		}

		#banner1:checked~nav label:nth-of-type(1) .progressbar-fill,
		#banner2:checked~nav label:nth-of-type(2) .progressbar-fill,
		#banner3:checked~nav label:nth-of-type(3) .progressbar-fill,
		#banner4:checked~nav label:nth-of-type(4) .progressbar-fill {
			animation: progressBarFill 5s linear;
		}
	}
}

/* Animations */
@keyframes progressBarFill {
	from {
		margin-left: -100%;
	}

	to {
		margin-left: 0;
	}
}

/* Media Queries */
@media only screen and (min-width: 1920px) {
	body {
		font-size: 22px;
	}

	.main-header .header-wrapper {
		width: 57%;
	}

	#section-1 {
		height: 46em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 1em;
	}
}

@media only screen and (max-width: 1919px) {
	body {
		font-size: 20px;
	}

	.main-header .header-wrapper {
		width: 60%;
	}

	#section-1 {
		height: 43em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 1em;
	}
}

@media only screen and (max-width: 1680px) {
	body {
		font-size: 18px;
	}

	.main-header .header-wrapper {
		width: 65%;
	}

	#section-1 {
		height: 40em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 1em;
	}
}

@media only screen and (max-width: 1366px) {
	body {
		font-size: 16px;
	}

	.main-header .header-wrapper {
		width: 70%;
	}
}

@media only screen and (max-width: 1120px) {
	.main-header .header-wrapper .main-menu li {
		padding: 0.75em 1.4em;
	}

	#section-1 {
		height: 35em;
	}

	#section-1 .content-slider nav {
		bottom: -0.2em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 1em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
		margin: 2em auto;
	}
}

@media only screen and (max-width: 1024px) {
	body {
		font-size: 14px;
	}

	.main-header .header-wrapper .main-menu li {
		padding: 0.75em 1.3em;
	}

	#section-1 .content-slider nav {
		bottom: 0;
	}

	#section-1 .content-slider nav .controls {
		width: 80%;
	}
}

@media only screen and (max-width: 860px) {
	.main-header .header-wrapper .main-menu li {
		padding: 0.75em 0.9em;
	}

	#section-1 {
		height: 29em;
	}

	#section-1 .content-slider nav {
		bottom: -1em;
	}

	#section-1 .content-slider nav .controls {
		width: 90%;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
		font-size: 2em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
		font-size: 4.5em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper {
		padding-top: 0.75em;
	}
}

@media only screen and (max-width: 768px) {
	.logo__container {
		margin-top: 15px;
	}
	.naming__logo{
		font-size: 30px;
	}

	.naming__logo {
		margin-bottom: 0px;
	}

	.main-header .header-wrapper .main-menu li {
		padding: 0.75em 0.5em;
	}

	#section-1 {
		height: 32em;
	}

	#section-1 .content-slider nav .controls {
		width: 100%;
	}

	#section-1 .content-slider nav .controls label {
		width: 19%;
		font-size: 0.8em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
		margin: 1.7em auto;
	}
}

@media only screen and (max-width: 650px) {
	.main-header .header-wrapper {
		width: 95%;
	}
}

@media only screen and (max-width: 480px) {

	.main-header .header-wrapper {
		width: 97%;
	}

	.main-header .header-wrapper .main-logo {
		display: none;
	}

	.main-header .header-wrapper .main-menu li {
		padding: 0.2em 0.3em;
	}

	.main-header .header-wrapper .main-menu li:last-child,
	.main-header .header-wrapper .main-menu li:nth-child(6) {
		padding: 0.2em 0.7em;
	}

	#section-1 {
		height: 28em;
	}

	#section-1 .content-slider nav {
		bottom: -0.5em;
	}

	#section-1 .content-slider nav .controls label {
		width: 40%;
		font-size: 0.7em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper h2 {
		font-size: 1.5em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper h1 {
		font-size: 3em;
	}

	#section-1 .content-slider .slider .banner .banner-inner-wrapper .line {
		margin: 1.7em auto;
	}
}

//___modal_______________________________________________________________________________
.modal-open {
    overflow: hidden
}

.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto
}

.modal {
    position: fixed;
    top     : 0;
    left    : 0;
    z-index : 1050;
    display : none;
    width   : 100%;
    height  : 100%;
    overflow: hidden;
    outline : 0
}

.modal-dialog {
    position      : relative;
    width         : auto;
    margin        : .5rem;
    pointer-events: none
}

.modal.fade .modal-dialog {
    transition       : -webkit-transform .3s ease-out;
    transition       : transform .3s ease-out;
    transition       : transform .3s ease-out, -webkit-transform .3s ease-out;
    -webkit-transform: translateY(-50px);
    transform        : translateY(-50px)
}

@media (prefers-reduced-motion:reduce) {
    .modal.fade .modal-dialog {
        transition: none
    }
}

.modal.show .modal-dialog {
    -webkit-transform: none;
    transform        : none
}

.modal.modal-static .modal-dialog {
    -webkit-transform: scale(1.02);
    transform        : scale(1.02)
}

.modal-dialog-scrollable {
    display   : -ms-flexbox;
    display   : flex;
    max-height: calc(100% - 1rem)
}

.modal-dialog-scrollable .modal-content {
    max-height: calc(100vh - 1rem);
    overflow  : hidden
}

.modal-dialog-scrollable .modal-footer,
.modal-dialog-scrollable .modal-header {
    -ms-flex-negative: 0;
    flex-shrink      : 0
}

.modal-dialog-scrollable .modal-body {
    overflow-y: auto
}

.modal-dialog-centered {
    display       : -ms-flexbox;
    display       : flex;
    -ms-flex-align: center;
    align-items   : center;
    min-height    : calc(100% - 1rem)
}

.modal-dialog-centered:before {
    display: block;
    height : calc(100vh - 1rem);
    height : -webkit-min-content;
    height : -moz-min-content;
    height : min-content;
    content: ""
}

.modal-dialog-centered.modal-dialog-scrollable {
    -ms-flex-direction: column;
    flex-direction    : column;
    -ms-flex-pack     : center;
    justify-content   : center;
    height            : 100%
}

.modal-dialog-centered.modal-dialog-scrollable .modal-content {
    max-height: none
}

.modal-dialog-centered.modal-dialog-scrollable:before {
    content: none
}

.modal-content {
    position          : relative;
    display           : -ms-flexbox;
    display           : flex;
    -ms-flex-direction: column;
    flex-direction    : column;
    width             : 100%;
    pointer-events    : auto;
    background-color  : #fff;
    background-clip   : padding-box;
    /* border            : 1px solid rgba(0, 0, 0, .2); */
    border-radius     : .3rem;
    outline           : 0;
    /* overflow: hidden; */
}

.modal-backdrop {
    position        : fixed;
    top             : 0;
    left            : 0;
    z-index         : 1040;
    width           : 100vw;
    height          : 100vh;
    background-color: #000
}

.modal-backdrop.fade {
    opacity: 0
}

.modal-backdrop.show {
    opacity: .5
}

.modal-header {
    display                : -ms-flexbox;
    display                : flex;
    -ms-flex-align         : start;
    align-items            : flex-start;
    -ms-flex-pack          : justify;
    justify-content        : space-between;
    padding                : 1rem;
    // border-bottom          : 1px solid #dee2e6;
    border-top-left-radius : calc(.3rem - 1px);
    border-top-right-radius: calc(.3rem - 1px)
}

.modal-header .close {
    padding: 1rem 1rem 0 1rem ;
    margin : -1rem -1rem -1rem auto
}

.modal-title {
    margin-bottom: 0;
    line-height  : 1.5
}

.modal-body {
    position: relative;
    -ms-flex: 1 1 auto;
    flex    : 1 1 auto;
    padding : 0 1rem
    
    
}

.modal-footer {
    display                   : -ms-flexbox;
    display                   : flex;
    -ms-flex-wrap             : wrap;
    flex-wrap                 : wrap;
    -ms-flex-align            : center;
    align-items               : center;
    -ms-flex-pack             : end;
    justify-content           : flex-end;
    padding                   : .75rem;
    // border-top                : 1px solid #dee2e6;
    border-bottom-right-radius: calc(.3rem - 1px);
    border-bottom-left-radius : calc(.3rem - 1px)
}

.modal-footer>* {
    margin: .25rem
}

.modal-scrollbar-measure {
    position: absolute;
    top     : -9999px;
    width   : 50px;
    height  : 50px;
    overflow: scroll
}

@media (min-width:576px) {
    .modal-dialog {
        max-width: 500px;
        margin   : 1.75rem auto
    }

    .modal-dialog-scrollable {
        max-height: calc(100% - 3.5rem)
    }

    .modal-dialog-scrollable .modal-content {
        max-height: calc(100vh - 3.5rem)
    }

    .modal-dialog-centered {
        min-height: calc(100% - 3.5rem)
    }

    .modal-dialog-centered:before {
        height: calc(100vh - 3.5rem);
        height: -webkit-min-content;
        height: -moz-min-content;
        height: min-content
    }

    .modal-sm {
        max-width: 300px
    }
}

@media (min-width:992px) {

    .modal-lg,
    .modal-xl {
        max-width: 800px
    }
}

@media (min-width:1200px) {
    .modal-xl {
        max-width: 1140px
    }
}

.modal-open {
    overflow: hidden;
}
//__modal______________________________________________________________________________________________